# Model weights and checkpoints
/weights/
*.pth
*.pt
*.bin
*.ckpt

# Model files
*.model
*.vocab
tokenizer_model*

# Training data
train.txt
dataset/*.txt
# shoulr not pusb the weights folder
weights/*
# Python cache
__pycache__/
*.py[cod]
*$py.class
"train.txt"   # Ignore this file in future commits
